<div class="page-container">
  <div class="left-container">
    <div id= "booking-name">
      <h2><%= @event.name %></h2>
    </div>
    <div id="booking-time">
      <h2>
        <%= @event.date.strftime "%B %e" %> at <%= @event.time.strftime "%H:%M" %> 
      </h2>
    </div>
    <div id="booking-des">
      <h4>Description:</h4>
      <%= @event.description %>
    </div>
    <div id="buttons cancel-btn">
      <%= link_to "Cancel Reservation", booking_path,
        class: "btn cancel-seat", method: :delete %>
    </div>

  </div>
  <div class="right-container">
    <div class="bookings-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=image_path @event.photo, crop: :fill %>);">
    </div>
    <div id="map" class="booking-map"></div>
  </div>
</div>






