
<% @events.each do |event| %>
  <%= link_to event_path(event) do %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" >
        <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=image_path event.photo, crop: :fill %>);">
          <h2 class= "card-name text-center"><%= event.name.capitalize %></h2>
        </div>
        <div class="card-description">
          <p><%= event.description.first(60) + "..." %></p>
        </div>
         <h3 class= "text-center"><%= event.price %></h3>
        <div class="card-date text-center"><%= event.date %></div>
      </div>
    </div>
  <% end %>
<% end %>

