<div class="navbar-wagon">
  <!-- Logo -->
   <div class="left-navbar">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logof.jpg", height: 65 %>
  <% end %>

   <%= link_to " Host a meal", new_event_path, class: " btn-warning btn-home host" %>

   <%= link_to " Find a meal", events_path, class: " btn-danger btn-home" %>
   </div>




  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_bookings_path(current_user)  do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Reservations") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
        <div>
   <%= link_to " Sign up",  new_user_registration_path, class: "btn-medium btn-home" %>

   <%= link_to " Sign in", new_user_session_path, class: "btn-medium btn-home" %>
      </div>
      <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

