<div class="grid">
  <div class="text">
    <div class="name-show">
      <h1><%= @event.name %></h1>
    </div>
    <div class="description">
      <h4> <%= @event.description %></h4>
    </div>
  <!-- Change the code of the booking below! -->
    <div class="booking">
      <p>Serving <%= @seats_counter %> seats</p>
      <p><%= @seats_available %> seats are available <i class="far fa-smile" style="color: green;"></i>
</p>
    </div>
    <div class="show-price">
    <p><strong>$ <%= @event.price %></strong></p>
    </div>
    <div id="buttons book-btn">
      <%= link_to "Book Your Spot!", new_event_booking_path(@event), class: "btn cancel-seat" %>
    </div>
    <div class="location">
      <p><strong>Address:</strong> <%= @event.address %></p>
    </div>
    <div class="date">
      <p><strong><%= @event.date.strftime "%B %e" %> at <%= @event.time.strftime "%H:%M" %></strong></p>
    </div>
  </div>
   <div class="show-map" id="map" data-markers="<%= @markers.to_json %>"></div>
  <% if @event['photo'].blank?  %>
    <div class="pic-card card-radiant" style="background-image: linear-gradient(rgba(77,77,77,77.9), rgba(0,0,0,0.0)), url(https://source.unsplash.com/collection/1322972/1080x800);">
    </div>
  <% else %>
    <div class="pic-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%=image_path @event.photo, crop: :fill %>);">
    </div>
  <% end %>


